<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeChat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@1.0.0/dist/forge.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@4.6.4/dist/index.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div id="control-panel">
    Status: <span id="connection-status" class="status-ok">Połączono</span><br>
    <button onclick="manualDisconnect()">Rozłącz</button>
    <button onclick="manualReconnect()">Połącz</button>
    <button onclick="quitChat()" style="color: red; font-weight: bold; margin-left: 10px;">Wyjdź</button>
</div>
<script type="text/javascript" charset="utf-8">
    const socket = io();
    let myNick = "";
    let myPrivateKey = null;
    let myPublicKey = null;
    var rsa = forge.pki.rsa;
    let peerPublicKeys = {}
    let roomAESKey = null;

    // Funkcja umożliwiająca wysłanie klucza na serwer
    function joinChat() {
        if (!myNick || !myPublicKey) return;
        // Konwersja klucza na tekst (w formacie PEM), inaczej nie można wysłać przez socket
        const publicKeyPEM = forge.pki.publicKeyToPem(myPublicKey);
        socket.emit('join', myNick, publicKeyPEM);
        document.getElementById("greeting").innerText = myNick + " (Ty)";
    }

    // Funkcja odpowiadająca za opuszczenie czatu. Czyści element z pamięci przeglądarki oraz wykonuje przekierowanie na stronę logowania
    function quitChat() {
        socket.disconnect();

        roomAESKey = null;
        myPrivateKey = null;
        myPublicKey = null;
        peerPublicKeys = {};

        localStorage.removeItem("savedNickname");

        window.location.href = "/";
    }

    // Funkcja odpowiadająca za wysyłanie zaszyfrowanych wiadomości
    function sendMessage() {

        //Pobiera wiadomość z pola tekstowego
        const messageInput = document.getElementById("message-input");
        const msg = messageInput.value;

        //Jeżeli użytkownik wpisze komendę, to wykonuje inne czynności
         if(msg.trim() === "/quit"){
            quitChat()
            return;
        }
        else if (msg.trim() === "/list"){
            const item = document.getElementById('users')
            item.style.backgroundColor = "red";
            return
        }
        else if (msg.trim() === "/help"){
            alert("Witaj w bezpiecznym czacie:\n1. Wiadomość nie może byc dłuższa niż 1024 znaki\n2. Historia czatu zapisuje się do maksymalnie 10 wiadomości");
            return
        }
        else if (msg.length > 1024){
            alert("Wiadomość nie może być dłuższa niż 1024 znaki!");
            return;
        }
        if (!roomAESKey || msg.trim()==="") {
            return;
        }

        // Losuje 16-bajtowy wektor inicjujący
        var iv = forge.random.getBytesSync(16);

        // Tworzy obiekt szyfrujący, używając wspólnego klucza AES
        var cipher = forge.cipher.createCipher('AES-CBC', roomAESKey);
        cipher.start({iv: iv});

        // Konwertuje tekst na bajty
        cipher.update(forge.util.createBuffer(msg, 'utf8'));
        cipher.finish();

        // Konwertuje na HEX
        var encryptedHex = cipher.output.toHex();
        var ivHex = forge.util.bytesToHex(iv);
        var payload = ivHex + ';' + encryptedHex;

        // Wysyłka zaszyfrowanej wiadomości do serwera
        socket.emit('message', payload);
        messageInput.value = "";
}

    // Funkcja wykonująca zerwanie połączenia (symuluje chwilowy brak połączenia z internetem)
    function manualDisconnect() {
        const statusSpan = document.getElementById("connection-status");
        statusSpan.innerText = "Utracono połączenie";
        socket.disconnect(); // Manualne zerwanie połączenia
    }

    // Funkcja przywracająca połączenie
    function manualReconnect() {
        const statusSpan = document.getElementById("connection-status");
        statusSpan.innerText = "Połączono";
        socket.connect(); // Manualne wznowienie (wywoła event 'connect' powyżej)
    }

    // Generuje klucze RSA (publiczny oraz prywatny)
    rsa.generateKeyPair({bits: 2048, workers: 2}, function (err, keypair) {
        if (err) {
                    console.error("Błąd generowania kluczy:", err);
                    return;
                }

        myPrivateKey = keypair.privateKey;
        myPublicKey = keypair.publicKey;

        myNick = localStorage.getItem("savedNickname");

        if (myNick) {
            joinChat();
        } else {
            window.location.href = "/";
        }
    });

    // Po połączeniu przez użytkownika wyświetla aktualny status oraz wykonuje funkcje
    socket.on('connect', function() {
        const statusSpan = document.getElementById("connection-status");
        statusSpan.innerText = "Połączono";
        statusSpan.className = "status-ok";

        if (myPublicKey && myNick) {
            joinChat();
        }
    });

    // Odbiera tablicę (historię) zaszyfrowanych wiadomości od serwera, następnie ja deszyfruje
    socket.on('update_history', function(messages_history) {

        const listElement = document.getElementById("history");
        listElement.innerHTML = "";

        // Wykonuje deszyfrowanie dla każdej wiadomości w historii
        messages_history.forEach(function(msg_obj) {
            const item = document.createElement("li");

            let displayText = msg_obj.message;

            // Sprawdza czy dane zawierają prawidłowe informacje
            if (roomAESKey && msg_obj.message.includes(';')) {
                try {
                    const parts = msg_obj.message.split(';');
                    const iv = forge.util.hexToBytes(parts[0]);
                    const encrypted = forge.util.hexToBytes(parts[1]);

                    // Tworzy obiekt deszyfrujący używając wspólnego roomAESKey
                    const decipher = forge.cipher.createDecipher('AES-CBC', roomAESKey);
                    decipher.start({iv: iv});
                    decipher.update(forge.util.createBuffer(encrypted));

                    // Deszyfrowanie
                    const result = decipher.finish();

                    if(result) {

                        // Zamiana bajtów na tekst
                        displayText = decipher.output.toString('utf8');
                    }
                } catch (e) { }
            }

            item.innerText = msg_obj.nickname + ": " + displayText;

            // Sprawdza, do kogo należy wiadomość i przypisuje odpowiednią klasę
            if (msg_obj.nickname === myNick) item.className = "my-msg";
            else item.className = "other-msg";

            item.classList.add("last-message");


            listElement.appendChild(item);
        });
    })

    // Odbiera, zapisuje oraz wyświetla listę aktualnie połączonych użytkowników
    socket.on('current_users', function(all_current_users) {
        const usersContainer = document.getElementById('users');
        usersContainer.innerHTML = '';

        const otherNicks = Object.keys(all_current_users);

        // Tworzy i wyswietla element dla każdego połączonego użytkownika
        otherNicks.forEach(function(nickname) {
            const div = document.createElement('div');
            div.innerText = nickname;
            usersContainer.appendChild(div);

            // Pobiera klucz w formacie tekstowym
            const pem = all_current_users[nickname];

            // Konweruje klucz na obiekt i zapisuje
            peerPublicKeys[nickname] = forge.pki.publicKeyFromPem(pem);
        });

        // Jeżeli nie ma innych użytkowników i nie mam jeszcze klucza AES pokoju, to generuje nowy
        if (otherNicks.length === 0 && roomAESKey === null) {
            roomAESKey = forge.random.getBytesSync(32);
        }

    });

    // Funkcja przyjmująca zdarzenie dołączenia nowego użytkownika
    socket.on('user_joined', function(new_user_data) {

            const usersContainer = document.getElementById('users');
            const div = document.createElement('div');
            div.innerText = new_user_data.nickname;
            usersContainer.appendChild(div);

            // Konwersja z napisu w formacie PEM na obiekt
            const newKey = forge.pki.publicKeyFromPem(new_user_data.publicKey);

            // Zapisanie w słowniku pod nickem użytkownika
            peerPublicKeys[new_user_data.nickname] = newKey;

            // Jeśli użytkownik posiada klucz, to przekazuje go nowemu użytkownikowi
            if (roomAESKey) {
                try {
                    // Szyfruje wspólny klucz AES za pomocą klucza publicznego nowego użytkownika
                    const encryptedAESKey = newKey.encrypt(roomAESKey);

                    // Wysyła zaszyfrowany klucz do użytkownika
                    socket.emit('send_key_to_user', {
                        encrypted_key: encryptedAESKey,
                        target_sid: new_user_data.sid
                    });
                } catch(e) {}
            }
        });

    // Odpowiada za przyjęcie klucza oraz deszyfrowanie klucza za pomocą klucza prywatnego
    socket.on('receive_key', function(data) {
        try {
            const decryptedKey = myPrivateKey.decrypt(data.key);
            roomAESKey = decryptedKey;
        } catch(e) {
        }
    });

    // Obsługuje zdarzenie opuszczenia czatu przez użytkownika
    socket.on('user_left', function(nickname) {

        // Usuwa klucz użytkownika, który opuścił czat
        delete peerPublicKeys[nickname];

        const usersContainer = document.getElementById('users');
        const divs = usersContainer.getElementsByTagName('div');

        // Usuwa użytkownika z listy
        for (let i = 0; i < divs.length; i++) {
            if (divs[i].innerText === nickname) {
                usersContainer.removeChild(divs[i]);
                break;
            }
        }
    });

</script>

<!-- Inicjalizacja biblioteki emoji-picker i obsługa wstawiania emotikon do pola tekstowego -->
<script type="module">
    import { createPopup } from 'https://unpkg.com/@picmo/popup-picker@latest/dist/index.js?module';

    window.addEventListener('DOMContentLoaded', () => {
        const trigger = document.querySelector('#emoji-trigger');
        const input = document.querySelector('#message-input');

        const picker = createPopup({}, {
            referenceElement: trigger,
            triggerElement: trigger,
            position: 'top-start'
        });

        trigger.addEventListener('click', () => {
            picker.toggle();
        });

        picker.addEventListener('emoji:select', (selection) => {
            input.value += selection.emoji;
            input.focus();
        });
    });
</script>


<div id="input-area">
    <input type="text" id="message-input" placeholder="Wpisz wiadomość..." autocomplete="off">
    <button onclick="sendMessage()">Wyślij</button>
    <button id="emoji-trigger" style="font-size: 1.2rem; cursor: pointer; margin-right: 5px;">😀</button>
</div>
<center><h1>Czat</h1></center>
<center><p>Użytkownicy online:</p> </center>
<center><strong><div id="greeting"></div></strong></center>
<center><div id="users"></div></center>
<div id="history">


</div>
</body>
</html>