<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeChat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
<script type="text/javascript" charset="utf-8">
    const socket = io();
    let myNick = "";

    socket.on('connect', function() {
        myNick = localStorage.getItem("savedNickname");

        if (myNick) {
            socket.emit('join', myNick);
            document.getElementById("greeting").innerHTML = "Cześć " + myNick + "!";
        } else {
            window.location.href = "/";
        }
    });

    socket.on('update_history', function(data) {

        const listElement = document.getElementById("history");
        listElement.innerHTML = "";

        data.forEach(function(msgText) {
            const item = document.createElement("li");
            item.innerText = msgText;
            item.style.textAlign = "right";
            listElement.appendChild(item);
        });

    })

    function sendMessage() {
        const messageInput = document.getElementById("message-input");
        const msg = messageInput.value;

        document.getElementById("message-input").innerHTML = msg;
        socket.emit('message', msg);
        console.log(msg);
        messageInput.value = "";
    }
</script>
<h1 id="greeting"></h1>
<div id="input-area">
    <input type="text" id="message-input" placeholder="Wpisz wiadomość..." autocomplete="off">
    <button onclick="sendMessage()">Wyślij</button>
</div>

Historia:
<div id="history">


</div>
</body>
</html>