<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeChat - Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    const socket = io();

    function login() {
        const nicknameInput = document.getElementById("nickname-input");
        const nickname = nicknameInput.value;

        socket.emit('savedNickname', nickname);
        console.log('Nazwa użytkownika: '+ nickname);

        nicknameInput.value = "";

        localStorage.setItem("savedNickname", nickname);
        window.location.href = "/chat";
    }

</script>
<h1>Podaj nazwę użytkownika</h1>
<div id="input-area">
    <input type="text" id="nickname-input" placeholder="Wpisz wiadomość..." autocomplete="off">
    <button onclick="login()">Wyślij</button>
</div>
</body>
</html>