<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeChat - Login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    const socket = io();

    // Funkcja wysyłająca do serwera nickname użytkownika oraz wykonująca przekierowanie do czatu
    function login() {
        const nicknameInput = document.getElementById("nicknameInput");
        const nickname = nicknameInput.value;

        nicknameInput.value = "";

        localStorage.setItem("savedNickname", nickname);
        window.location.href = "/chat";
    }

</script>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div class="loginScreen">
    <h1>SafeChat</h1>
    <h2>by Kacper Makowski, Kamil Gumiński</h2>
    <div id="inputArea">
        <input type="text" id="nicknameInput" placeholder="Podaj nazwę użytkownika" autocomplete="off">
        <button id="loginButton" onclick="login()">Połącz</button>
    </div>
</div>

<script>
    const nicknameInput = document.getElementById('nicknameInput');
    const loginButton = document.getElementById('loginButton');

    nicknameInput.addEventListener('keydown', function(event) {
        if (event.key === 'Enter' || event.keyCode === 13) {

            event.preventDefault();
            login()
        }
    });
</script>
</body>
</html>